<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>show000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{137,285}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,96},{137,285}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,337},{125,293}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,80},{125,293}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000023.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,289},{107,283}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,55},{107,283}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000024.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{117,295}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{117,295}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000025.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{167,155}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,189},{167,155}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000026.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,702},{151,297}}</string>
                <key>offset</key>
                <string>{-32,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,37},{151,297}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,369}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,39},{153,369}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000028.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{171,259}}</string>
                <key>offset</key>
                <string>{-38,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,68},{171,259}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{189,327}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{189,327}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{185,315}}</string>
                <key>offset</key>
                <string>{-36,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{185,315}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,299},{32,38}}</string>
                <key>offset</key>
                <string>{-2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,69},{32,38}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>show010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,299},{30,36}}</string>
                <key>offset</key>
                <string>{-3,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,75},{30,36}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>show01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694a0623012031cd97de411b04aa9553$</string>
            <key>textureFileName</key>
            <string>show01.png</string>
        </dict>
    </dict>
</plist>
