<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>show020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,243},{135,243}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,74},{135,243}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,510},{145,245}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,72},{145,245}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020004.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,488},{87,243}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,74},{87,243}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,759},{151,245}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,73},{151,245}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020006.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,510},{131,247}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{131,247}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{153,265}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,52},{153,265}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020008.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{143,247}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,70},{143,247}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020009.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,251},{143,245}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,72},{143,245}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020010.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{139,257}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,62},{139,257}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{143,275}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,42},{143,275}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show020012.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,532},{149,251}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,66},{149,251}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,785},{111,233}}</string>
                <key>offset</key>
                <string>{-8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,81},{111,233}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{137,245}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,69},{137,245}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,785},{135,237}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{135,237}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,488},{113,239}}</string>
                <key>offset</key>
                <string>{-8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,75},{113,239}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,757},{135,245}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,70},{135,245}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,281},{145,273}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,41},{145,273}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,261},{147,247}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{147,247}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{149,239}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,75},{149,239}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,556},{145,261}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,54},{145,261}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{139,277}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,48},{139,277}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show120012.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,269},{139,261}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,53},{139,261}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show_back0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,279}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,37},{133,279}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>show_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{119,277}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,37},{119,277}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>show_back.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:318295583e47011684fb5c3f08489255$</string>
            <key>textureFileName</key>
            <string>show_back.png</string>
        </dict>
    </dict>
</plist>
