<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>show000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,289},{101,285}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,39},{101,285}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,301},{143,291}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,78},{143,291}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{117,283}}</string>
                <key>offset</key>
                <string>{-25,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,48},{117,283}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{119,297}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,93},{119,297}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{111,291}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,95},{111,291}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,297}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{127,297}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{113,297}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,54},{113,297}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,291},{137,285}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,81},{137,285}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,255},{161,261}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,68},{161,261}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,594},{127,287}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,56},{127,287}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,518},{135,269}}</string>
                <key>offset</key>
                <string>{-23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,65},{135,269}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{131,287}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{131,287}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,576},{151,281}}</string>
                <key>offset</key>
                <string>{-48,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{151,281}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,600},{99,293}}</string>
                <key>offset</key>
                <string>{-19,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,32},{99,293}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{121,285}}</string>
                <key>offset</key>
                <string>{-30,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,50},{121,285}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,578},{115,285}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,93},{115,285}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,564},{153,269}}</string>
                <key>offset</key>
                <string>{-45,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,65},{153,269}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,287},{161,275}}</string>
                <key>offset</key>
                <string>{-35,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,78},{161,275}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{115,273}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,62},{115,273}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
            <key>show000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{183,251}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,153},{183,251}}</string>
                <key>sourceSize</key>
                <string>{257,455}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>show00.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:637f8fc13e74cce409bbb3bc0a4500ea$</string>
            <key>textureFileName</key>
            <string>show00.png</string>
        </dict>
    </dict>
</plist>
