<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>e_031/e_031_0_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_0_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,332},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_0_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,498},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_0_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,664},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_0_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,830},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,166},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,332},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,498},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,664},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,830},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,166},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,332},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,498},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,664},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,830},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,166},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,332},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,498},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,664},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,830},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_4_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_4_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,166},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_4_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,332},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_4_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,498},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_4_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,664},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_4_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,830},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_5_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_5_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,166},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_5_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,332},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_5_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,498},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_5_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,664},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_5_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,830},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_6_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_6_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,166},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_6_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,332},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_6_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,498},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_6_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,664},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_6_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,830},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_7_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_7_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1328,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_7_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_7_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1660,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_7_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1826,0},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>e_031/e_031_7_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,166},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect_031.png</string>
			<key>realTextureFileName</key>
			<string>effect_031.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>