<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>m_029_0/m_029_0_0_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_0_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,410},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_0_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,615},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_0_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_0_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,205},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,410},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,615},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,820},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,205},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,410},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,615},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,820},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,205},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,410},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,615},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,205},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,410},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,615},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,820},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_4_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_4_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,205},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_4_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,410},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_4_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,615},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_4_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,820},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
			<key>m_029_0/m_029_0_4_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{150,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,205}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>monster_029_0.png</string>
			<key>realTextureFileName</key>
			<string>monster_029_0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>