<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>m_032_0/m_032_0_0_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_0_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,266},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,532},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_0_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,798},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_0_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_0_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,266},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,532},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,798},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,0},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,266},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,532},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,798},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,0},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,266},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,532},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,0},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,266},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,532},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,798},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,0},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,266},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,532},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,798},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,0},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_4_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,266},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_4_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,532},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_4_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,0},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_4_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,0},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_4_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,190},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
			<key>m_032_0/m_032_0_4_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,190},{190,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,266}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>monster_032_0.png</string>
			<key>realTextureFileName</key>
			<string>monster_032_0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>