<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>m_001_2/m_001_2_0_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_0_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,320},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,640},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,320},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,640},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,320},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,640},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_4_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_4_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,0},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
			<key>m_001_2/m_001_2_4_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,300},{300,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,320}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>monster_001_2.png</string>
			<key>realTextureFileName</key>
			<string>monster_001_2.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>