<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>m_032_4/m_032_4_0_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_0_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_0_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,280},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,560},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,280},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,560},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,280},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,560},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,280},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,560},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,0},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_4_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,280},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_4_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,560},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_4_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
			<key>m_032_4/m_032_4_4_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,0},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,280}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>monster_032_4.png</string>
			<key>realTextureFileName</key>
			<string>monster_032_4.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>