<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>m_031_3/m_031_3_0_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_0_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,264},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,528},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_0_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_0_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1056},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_0_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1320},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1584},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,0},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,0},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,0},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,0},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,0},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,0},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,255},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,519},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,783},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1047},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1311},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1575},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,255},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,255},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,255},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,255},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,255},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_4_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,510},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_4_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,774},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_4_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1038},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_4_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1302},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_4_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1566},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
			<key>m_031_3/m_031_3_4_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,510},{255,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,264}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>monster_031_3.png</string>
			<key>realTextureFileName</key>
			<string>monster_031_3.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>