<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>m_031_0/m_031_0_0_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_0_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,251},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,502},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_0_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,753},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_0_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_0_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,251},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,502},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,753},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,0},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,251},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,502},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,753},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,0},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,251},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,502},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,753},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,0},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,251},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,502},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,753},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,0},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,0},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,0},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,243},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_4_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,494},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_4_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,745},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_4_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,243},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_4_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,243},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_4_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,486},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
			<key>m_031_0/m_031_0_4_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,737},{243,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>monster_031_0.png</string>
			<key>realTextureFileName</key>
			<string>monster_031_0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>